/* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

html {
    background: url("http://winefolly.com/wp-content/uploads/2015/07/personality-types-and-wine.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    text-align: center;
    font-family: arial;
    font-size: 1.5rem;
}

.text {
    color: #FF4141;
    padding-bottom: 1rem;
}


/* Header styles
(all the styles inside the < header > or < nav > tags)
*/

.heading {
    font-size: 3rem;
    padding-top: 6rem;
    margin-bottom: 2rem;
    text-shadow: 3px 3px 3px black;
    color: #ff4242;
    font-family: ferrari;
}

.heading .logo {
    margin-top: 1rem;
    padding-top: 1rem;
}

.heading span {
    padding-top: 0.5rem;
}

.start-button {
    background-color: #9e9e9e;
    border-color: #9e9e9e;
    border-radius: 30px;
    border-style: none;
    color: white;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    text-shadow: none;
    width: 9.688rem;
    color: #000000
}

.start-button:hover {
    background-color: #707070;
}


/* Content styles
(all the styles inside the < sections > or < aside > tags)
*/

.start-section,
.quiz-section,
.result-section {
    background-image: url("../images/transparent.jpg");
    border-radius: 0.5rem;
    padding: 2rem;
    width: 35rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#choices {
    color: #ff4141;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 89%;
    padding-left: 20px;
}

#choices input.option {
    margin-right: 1rem;
    margin-left: -2rem;
    margin-top: 25px;
}

.question-number {
    color: #FF4141;
    padding-top: 1.5rem;
}

#result_msg h3,
#result_msg h4 {
    text-align: left;
    padding-top: 10px;
    font-size: 1rem;
    color: darkblue;
    font-weight: 400;
}

#result_msg h4 {
    font-size: 0.8rem;
    padding-top: 3px;
    padding-bottom: 10px;
}


/* Footer styles
(all the styles inside the < footer > tag)
*/


/* Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
